/*style css*/
@media(min-width:1200px){
}
.project-tab{
    margin-top: 30px!important;
    display: none;
    
}
#code-item{
    display: block;
}
#view-item li a {
    background: green !important;
}
#code-item li a {
    background: #4C9ED9 !important;
}
#app-item li a {
    background: aqua !important;
}
#logo-item li a {
    background: blanchedalmond !important;
}
.sl-item {
    display: none;
    transition: margin ease 2s;
    -moz-transition: margin ease 2s;
    -webkit-transition: margin ease 2s;
}
.sl-item:first-child {
    display: block;
    
}
#slide-parter {
    height: 400px;
}

@media(min-width:992px){
    body {
        background: transparent url(../image/background.jpg) no-repeat top center;
        
    }
    ol,ul {
        list-style: none;
    }
    .bold {
        font-weight: bold;
        
    }
    .uppercase {
        text-transform: uppercase;
    }
    
    header {
        background: transparent;
        padding-bottom: 35px;
        border-bottom: 1px solid #fff;
    }
     header button.btn {
         display: none;
     }
    header ul {
        margin-top: 20px;
    }
    header ul li a {
        color: #fff;
        background: url(../image/nav-icon.png) no-repeat 2px center;
        
    }
     header ul.nav li:hover a {
         background: #3CB884;
          color: #fff;
         border-bottom: 2px solid #fff;
     }
    
    #slide {
        margin-top: 70px;
    }
    #slide h2 {
        margin-bottom: 38px;
        text-align: center;
        font-size: 50px;
        font-weight: normal;
        color: #fff;
         font-family: 'Dosis', sans-serif;
        
    }
    #slide .carousel-indicators {
        position: relative;
       
        margin-top: 80px;
       
       
        
    }
    #slide .carousel-indicators li {
        background: black;
    }
    #slide .item img {
       
        margin: 0px auto;
    }
        #idea {
            margin-top: 110px;
        }
    #idea .col-md-7 h2 {
        font-size: 40px;
         font-family: 'Dosis', sans-serif;
    }
    #idea a {
        
        border: 1px solid black;
        padding: 10px;
        color: black;
        border-radius: 5px;
        
    }
    #idea p {
        margin-bottom: 20px;
    }
    #fire {
        margin-top: 110px;
    }
    #fire h2 {
        font-size: 40px;
        font-family: 'Dosis', sans-serif;
        
    }
    #fire a {
        border: 1px solid black;
        padding: 10px;
        color: black;
        border-radius: 5px;
    }
    #fire p {
        margin-bottom: 20px;
    }
    #fire img {
        float: right;
    }
    #info {
        background: #3AB680;
        margin-top: 50px;
        
    }
    #info h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #fff;
       
        font-family: 'Dancing Script', cursive;
    }
    #info ul {
        text-align: center;
        
    }
    #info ul li p{
       color: #fff;
         font-family: 'Dosis', sans-serif;
        
    }
    
    #info ul li span {
        display: block;
        float: left;
        margin:0px;
        padding: 0px;
        font-size: 20px;
    }
    #info li span:first-child {
        font-size: 57px;
        padding-left:30px;
        background: url(../image/nav-icon.png) no-repeat left center;
    }
    #info li span:nth-child(2) {
        width: 40%;
        padding-top: 10px;
        text-align: left;
        
    }
     #info ul li:nth-child(2) span:nth-child(2){
         width: 30%;
         background: none;
     }
    #info ul li:nth-child(2) span:nth-child(1){
         background: none;
        
    }
    #info ul li:nth-child(4) span:nth-child(2){
         width: 10%;
     }
    #partner {
        margin-top: 20px;
        
    }
    #partner h2 {
        font-family: 'Dosis', sans-serif;
        font-size: 40px;
        float: left;
    }
    #partner .row .col-md-12 ul.nav-tabs {
        float: right;
        margin-top: 20px;
        border: none;
        
    }
    #partner ul:not(.nav) {
        text-align: center;
        padding: 0px;
    }
    
    #partner ul li:nth-child(4) {
        clear: both;
    }
   #partner ul:not(.nav) li {
        height: 200px;
       
     
       
    }
    
     #partner ul:not(.nav) li a {
         display: block;
        width: 100%;
         height: 100%;
         position: relative;
         
     }
    #partner ul:not(.nav) li a:hover {
        background: #FAFAFA;
    }
    #partner ul:not(.nav) li a img.img-responsive {     
       position: absolute;
       left: -62px;top: -124px;
        
        margin: 50% 0 0 50%;
    }
   
    #project {
        margin-top: 30px;
        
    }
    #project div:first-child{
        width: 93%;
        margin: 0px auto;
        margin-bottom: 60px;
    }
    #project h2 {
        font-size: 40px;
         font-family: 'Dosis', sans-serif;
        float: left;
        
    }
    #project ul.nav {
        float: right;
        margin-top: 25px;
        color: black;
        border: none;
    }
    #project ul.nav li {
        margin-left: 10px;
    }
   #project ul.nav li a {
       color: black;
       font-weight: bold;
       border: 2px solid black;
       border-radius: 5px;
   }
    #project ul.project-tab {
        margin-top: 30px;
        clear: both;
        margin-top: 200px;
        padding: 0px;
    }
    #project ul.project-tab li {
        height: 240px;
      
        
    }
    #project ul.project-tab li:nth-child() {
        clear: both;
    }
    #project ul.project-tab li  a {
       
        display: inline-block;
        width: 100%;
        height: 90%;
        
       background: #DFDFDF;
        
    }
    #project ul.project-tab li  a:hover {
        background: #D2D1D0;
    }
    
    #project a#botom {
        
        display: block;
        border: 1px solid black;
        width: 186px;
        margin: 0px auto;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 5px;
        color: black;
        font-family: 'Dosis', sans-serif;
        
    }
    footer {
        margin-top: 30px;
        
    }
    footer .container {
        border-top: 1px solid #D2D1D0;
    }
    footer .col-md-3 {
        margin-top: 20px;
    }
    footer .col-md-3 p {
        font-family: 'Dosis', sans-serif;
        font-size: 20px;
    }
    footer .col-md-3 span {
        display: block;
        font-family: 'Dosis', sans-serif;
        margin-top: 10px;
        font-size: 30px;
    }
    footer .col-md-12 {
        border-top: 1px solid #D2D1D0;
        padding-top: 20px;
    }
    footer .col-md-12 ul{
        text-align: center;
        
    }
    footer .col-md-12 ul li ul {
        overflow: hidden;
    }
     footer .col-md-12 ul li ul li {
         float: left;
         margin-left: 5px;
     }
    footer .col-md-12 ul li p {
        font-size: 20px;
    }
    
}



@media only screen and (max-width:991px) and (min-width: 767px){
      body {
        background: transparent url(../image/background.jpg) no-repeat top center;
        
    }
    #idea-move img:first-child{
        display: none;
    }
    ol,ul {
        list-style: none;
    }
    .bold {
        font-weight: bold;
        
    }
    .uppercase {
        text-transform: uppercase;
    }
    /*heaer*/
    header {
        background: transparent;
        padding-bottom: 35px;
        border-bottom: 1px solid #fff;
    }
    header button.btn {
         display: none;
     }
    header h1 {
        text-align: center; /*new for tablet*/
    }
    header ul {
        margin-top: 20px;
        display: block !important;
    }
    header ul li a {
        color: #fff;
        background: url(../image/nav-icon.png) no-repeat 2px center;
        
    }
     header ul.nav li:hover a {
         background: #3CB884;
          color: #fff;
         border-bottom: 2px solid #fff;
     }
    
    #slide {
        margin-top: 70px;
    }
    #slide h2 {
        margin-bottom: 38px;
        text-align: center;
        font-size: 50px;
        font-weight: normal;
        color: #fff;
         font-family: 'Dosis', sans-serif;
        
    }
    #slide .carousel-indicators {
        position: relative;
       
        margin-top: 80px;
       
       
        
    }
    #slide .carousel-indicators li {
        background: black;
    }
    #slide .item img {
       
        margin: 0px auto;
    }
        #idea {
            margin-top: 110px;
        }
    #idea img {
        margin: 0 auto; /*new for tablet*/
    }
    #idea .col-md-7 h2 {
        font-size: 40px;
        text-align: center;/*new for tablet*/
         font-family: 'Dosis', sans-serif;
    }
    #idea a {
        
        border: 1px solid black;
        padding: 10px;
        color: black;
        border-radius: 5px;
        display: block;
        width: 115px;
        margin: 0 auto;
        
        
    }
    #idea p {
        margin-bottom: 20px;
        text-align: center;
    }
    #fire {
        margin-top: 110px;
       
        
    }
    
    #fire .col-md-7 {
       margin-top: 250px;
        
    }
     #fire .col-md-5 {
         margin-top: -450px;
      
         
     }
    #fire img  {
       margin: 0 auto;
        
    }
    #fire h2 {
        font-size: 40px;
        font-family: 'Dosis', sans-serif;
        text-align: center;
        
    }
    #fire a {
        border: 1px solid black;
        padding: 10px;
        color: black;
        border-radius: 5px;
        display: block;
        width: 115px;
        margin: 0px auto;
    }
    #fire p {
        margin-bottom: 20px;
        text-align: center;
    }
    
    #info {
        background: #3AB680;
        margin-top: 50px;
        
    }
    #info h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #fff;
       
        font-family: 'Dancing Script', cursive;
    }
    #info ul {
        text-align: center;
        padding: 0px;
        
    }
    #info ul li p{
       color: #fff;
         font-family: 'Dosis', sans-serif;
        
    }
    
    #info ul li span {
        display: block;
      
        margin:0px;
        padding: 0px;
        font-size: 20px;
    }
    #info li span:first-child {
        font-size: 57px;
        padding-left:5px;
        background: url(../image/nav-icon.png) no-repeat left center;
    }
    #info li span:nth-child(2) {
       
        padding-top: 10px;
        text-align:center;
        
    }
     #info ul li:nth-child(2) span:nth-child(2){
        
         background: none;
     }
    #info ul li:nth-child(2) span:nth-child(1){
         background: none;
        
    }
    
    #partner {
        margin-top: 20px;
        
    }
    #partner h2 {
        font-family: 'Dosis', sans-serif;
        font-size: 40px;
        float: left;
    }
    #partner .row .col-md-12 ul.nav-tabs {
        float: right;
        margin-top: 20px;
        border: none;
        
    }
    #partner ul:not(.nav) {
        text-align: center;
        padding: 0px;
    }
    
    #partner ul li:nth-child(4) {
        clear: both;
    }
   #partner ul:not(.nav) li {
        height: 200px;

    }
    
     #partner ul:not(.nav) li a {
         display: block;
         width: 200px;
         height:200px;
        text-align:center;
         display:table-cell;
         vertical-align:middle;
        
     }
    #partner ul:not(.nav) li a:hover {
        background: #FAFAFA;
    }
    #partner ul:not(.nav) li a img.img-responsive {     
      margin: 0 auto;
    
    }
   
    #project {
        margin-top: 30px;
         text-align: center;
        
    }
    #project h2 {
        font-size: 40px;
        width: 100%;
        text-align: center;
         font-family: 'Dosis', sans-serif;
        
        
    }
   
    #project ul.nav {
        
        margin-top: 25px;
        color: black;
        border: none;
       display: inline-block;
       
        
        
    }
    #project ul.nav li {
        margin-left: 10px;
        
    }
    
   #project ul.nav li a {
       color: black;
       font-weight: bold;
       border: 2px solid black;
       border-radius: 5px;
   }
    #project ul.project-tab {
        margin-top: 30px;
        padding: 0px;
        
    }
    #project ul.project-tab li {
        height: 240px;  
    }
   
    #project ul.project-tab li  a {
       
        display: inline-block;
        width: 100%;
        height: 90%;
        
       background: #DFDFDF;
        
    }
    #project ul.project-tab li  a:hover {
        background: #D2D1D0;
    }
    
    #project a#botom {
        
        display: block;
        border: 1px solid black;
        width: 186px;
        margin: 0px auto;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 5px;
        color: black;
        font-family: 'Dosis', sans-serif;
        
    }
    footer {
        margin-top: 30px;
        
    }
    footer .container {
        border-top: 1px solid #D2D1D0;
    }
    footer .col-md-3 {
        margin-top: 20px;
    }
    footer .col-md-3 p {
        font-family: 'Dosis', sans-serif;
        font-size: 20px;
    }
    footer .col-md-3 span {
        display: block;
        font-family: 'Dosis', sans-serif;
        margin-top: 10px;
        font-size: 30px;
    }
    footer .col-md-12 {
        border-top: 1px solid #D2D1D0;
        padding-top: 20px;
    }
    footer .col-md-12 ul{
        text-align: center;
        
    }
    footer .col-md-12 ul li ul {
        overflow: hidden;
    }
     footer .col-md-12 ul li ul li {
         float: left;
         margin-left: 5px;
     }
    footer .col-md-12 ul li p {
        font-size: 20px;
    }
    
}


@media(max-width:768px){
   #slide-parter {
    height: 650px;
}
    #idea-move img:first-child{
        display: none;
    }
    body {
        background: transparent url(../image/background.jpg) no-repeat top center;
        
    }
    ol,ul {
        list-style: none;
    }
    .bold {
        font-weight: bold;
        
    }
    .uppercase {
        text-transform: uppercase;
    }
    /*heaer*/
    header {
        background: transparent;
        padding-bottom: 35px;
        border-bottom: 1px solid #fff;
    }

    header button.btn {
         display: block;
        background: #3DB983;
        border:none;
        position: absolute; top: 0px; right: 10px;
       
     }
     header button.btn:hover {
         background: none;
     }
    .glyphicon-align-justify:before{
        font-size: 2em;
        
    }
    header h1 {
        text-align: left; /*new for tablet*/
    }
    header ul {
        margin-top: 0px;
         -moz-transform: all ease 0.7s;
        -webkit-transform: all ease 0.7s;
      transform: all ease 0.7s;
        display: none;
       
    }
        
    header ul li a {
        color: #fff;
        background: #BCBCC4;
         margin: 0px !important;
        border-bottom: 1px solid #fff;
      
    }
      header ul li:last-child a{
          border: none;
      }
     header ul.nav li:hover a {
         background: #fff;
         color: #E1B3B3;
        
     }
    
    #slide {
        margin-top: 70px;
    }
    #slide h2 {
        margin-bottom: 38px;
        text-align: center;
        font-size: 50px;
        font-weight: normal;
        color: #fff;
         font-family: 'Dosis', sans-serif;
        
    }
    #slide .carousel-indicators {
        position: relative;
       
        margin-top: 80px;
       
       
        
    }
    #slide .carousel-indicators li {
        background: black;
    }
    #slide .item img {
       
        margin: 0px auto;
    }
        #idea {
            margin-top: 110px;
        }
    #idea img {
        margin: 0 auto; /*new for tablet*/
    }
    #idea .col-md-7 h2 {
        font-size: 40px;
        text-align: center;/*new for tablet*/
         font-family: 'Dosis', sans-serif;
    }
    #idea a {
        
        border: 1px solid black;
        padding: 10px;
        color: black;
        border-radius: 5px;
        display: block;
        width: 115px;
        margin: 0 auto;
        
        
    }
    #idea p {
        margin-bottom: 20px;
        text-align: center;
    }
    #fire {
        margin-top: 110px;
       
        
    }
    
    #fire .col-md-7 {
       margin-top: 250px;
        
    }
     #fire .col-md-5 {
         margin-top: -450px;
      
         
     }
    #fire img  {
       margin: 0 auto;
        
    }
    #fire h2 {
        font-size: 40px;
        font-family: 'Dosis', sans-serif;
        text-align: center;
        
    }
    #fire a {
        border: 1px solid black;
        padding: 10px;
        color: black;
        border-radius: 5px;
        display: block;
        width: 115px;
        margin: 0px auto;
    }
    #fire p {
        margin-bottom: 20px;
        text-align: center;
    }
    
    #info {
        background: #3AB680;
        margin-top: 50px;
        
    }
    #info h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #fff;
       
        font-family: 'Dancing Script', cursive;
    }
    #info ul {
        text-align: center;
        padding: 0px;
        
    }
    #info ul li p{
       color: #fff;
         font-family: 'Dosis', sans-serif;
        
    }
    
    #info ul li span {
        display: block;
      
        margin:0px;
        padding: 0px;
        font-size: 20px;
    }
    #info li span:first-child {
        font-size: 57px;
        padding-left:5px;
        background: url(../image/nav-icon.png) no-repeat left center;
    }
    #info li span:nth-child(2) {
       
        padding-top: 10px;
        text-align:center;
        
    }
     #info ul li:nth-child(2) span:nth-child(2){
        
         background: none;
     }
    #info ul li:nth-child(2) span:nth-child(1){
         background: none;
        
    }
    
    #partner {
        margin-top: 20px;
        
    }
    #partner h2 {
        font-family: 'Dosis', sans-serif;
        font-size: 40px;
        float: left;
    }
    #partner .row .col-md-12 ul.nav-tabs {
        float: right;
        margin-top: 20px;
        border: none;
        
    }
    #partner ul:not(.nav) {
        text-align: center;
       margin: 0px auto;
    }
    

   #partner ul:not(.nav) li {
        height: 200px;

    }
    
     #partner ul:not(.nav) li a {
         display: block;
         width: 200px;
         height:200px;
        text-align:center;
         display:table-cell;
         vertical-align:middle;
        
     }
    #partner ul:not(.nav) li a:hover {
        background: #FAFAFA;
    }
    #partner ul:not(.nav) li a img.img-responsive {     
      margin: 0 auto;
    
    }
   
    #project {
        margin-top: 30px;
         text-align: center;
        
    }
    #project h2 {
        font-size: 40px;
        width: 100%;
        text-align: center;
         font-family: 'Dosis', sans-serif;
        
        
    }
   
    #project ul.nav {
        
        margin-top: 25px;
        color: black;
        border: none;
       display: inline-block;
       
        
        
    }
    #project ul.nav li {
        margin-left: 10px;
        
    }
    
   #project ul.nav li a {
       color: black;
       font-weight: bold;
       border: 2px solid black;
       border-radius: 5px;
   }
    #project ul.project-tab {
        margin-top: 30px;
        padding: 0px;
        
    }
    #project ul.project-tab li {
        height: 240px;  
    }
   
    #project ul.project-tab li  a {
       
        display: inline-block;
        width: 100%;
        height: 90%;
        
       background: #DFDFDF;
        
    }
    #project ul.project-tab li  a:hover {
        background: #D2D1D0;
    }
    
    #project a#botom {
        
        display: block;
        border: 1px solid black;
        width: 186px;
        margin: 0px auto;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 5px;
        color: black;
        font-family: 'Dosis', sans-serif;
        
    }
    footer {
        margin-top: 30px;
        
    }
    footer .container {
        border-top: 1px solid #D2D1D0;
    }
    footer .col-md-3 {
        margin-top: 20px;
    }
    footer .col-md-3 p {
        font-family: 'Dosis', sans-serif;
        font-size: 20px;
    }
    footer .col-md-3 span {
        display: block;
        font-family: 'Dosis', sans-serif;
        margin-top: 10px;
        font-size: 30px;
    }
    footer .col-md-12 {
        border-top: 1px solid #D2D1D0;
        padding-top: 20px;
    }
    footer .col-md-12 ul{
        text-align: center;
        
    }
    footer .col-md-12 ul li ul {
        overflow: hidden;
    }
     footer .col-md-12 ul li ul li {
         float: left;
         margin-left: 5px;
     }
    footer .col-md-12 ul li p {
        font-size: 20px;
    }
    

}

